{% extends 'base.html' %}
{% block body %}

    <style>
        .top {
            top: 0;
            margin-left: 40px;
            padding-top: 30px;
        }

        .mfa-section {
           margin-left: 40px;
           width: 85%;
        }

        .h1 {
            font-size: 40px;
            margin-bottom: 40px;
        }

    </style>

    <div class="top">
        <h1 class="h1">Welcome {{ username }}!</h1>
    </div>
    <div class="mfa-section">
        <form autocomplete="off"  method="post">
            <div class="list-group">
                {% if mfaset == 0 %}
                    <button type="submit" class="btn btn-primary btn-block">Enable 2FA?</button>
                {% elif mfaset == 1 %}
                    <button type="submit" class="btn btn-primary btn-block">Disable 2FA</button>
                {% endif %}
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
    </div>

{% endblock %}
